.about,.contactme,.skills{
    background: no-repeat var(--page-background2);
    background-size: cover;
    width: 100%;
    height: 100svh;
    padding: .3rem;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;  
    align-content: flex-start;
    justify-content: space-evenly;
}
.about{
    background:no-repeat var(--page-background3);
}
.contactme{
    background:no-repeat var(--page-background);
}
.me,.description,.welcome{
    display: block;
    background-color: var(--black-semi-transparent);
    border-radius: .5rem;
    max-width: 90svw;
}
.welcome{
    width: 92%;
    max-height: 5rem;
    text-align: center;
}
.about section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    gap:2rem;
}
.me{
    aspect-ratio: 1;
    min-height: 70vh;
    overflow: hidden;
}
.me img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    text-align: center;
    font-style: italic;
}

.description{
    text-align: balance;
    font-size: 2rem;
    line-height: 1.4;
    padding: .5em;
    background-color:var(--black-semi-transparent);
    display: block;
    padding-bottom: 6rem;
    max-width: 90svw;
}
.skills .list{
    height: 100%;
    width: 100%;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:1.5rem;
}
.list-items{
    position:relative;    
    display: block;
    font-size: 2rem;
    background-color: var(--black-semi-transparent);
    border-radius: .3rem;
    padding-left:.5rem ;
}
img{
    font-size: small;
    font-style: italic;
}
.loader{
    display : block;
    margin-top: 0.5rem;
    height: 1rem;
    width: 0%;
    border-radius: 0vw  10vw 10vw 0vw;
    transition: width 2s 1s ease;
    animation:load-width 1s linear;
    background : var(--loader-gradient);
}
.skills img{
    height: 2rem;
    display:inline;
    object-position: center;
    object-fit: contain;
    vertical-align: middle;
}
.projects-container{
    width: 100%;
    display: flex;
    gap:1rem;
    border-radius: 8px;
    padding:8px;
    align-items: center;
    flex-direction: column;
    background-color: var(--black-semi-transparent);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.project{
    display: block;
    width: 80%;
    padding:8px;
    border-radius: 100vw;
    background-color: rgba(255, 255, 255, 0.337);
    -webkit-border-radius: 100vw;
    -moz-border-radius: 100vw;
    -ms-border-radius: 100vw;
    -o-border-radius: 100vw;
}
.project a{
    text-decoration: none;
    font-size: 1.2rem;
    color:black;
}
