
.about,.contactme,.skills{
    background: no-repeat linear-gradient(#0000ff,#ffc0cb);
    background-size: cover;
    width: 100%;
    height: 100svh;
    padding: .3rem;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;  
    align-content: flex-start;
    justify-content: space-evenly;
}
.me,.description,.welcome{
    display: block;
    background-color: rgba(118, 107, 91, 0.6);
    border-radius: .5rem;
    max-width: 90svw;
}
.welcome{
    width: 92%;
    max-height: 5rem;
    text-align: center;
}
.about section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    gap:2rem;
}

.me{
    aspect-ratio: 1;
    min-height: 70vh;
}
.me img{
    object-fit: cover;
    display: block;
    text-align: center;
    font-style: italic;
    display: block;
}
.description{
    text-align: balance;
    font-size: 2rem;
    line-height: 1.4;
    padding: .5em;
    background-color: rgba(116, 108, 98, 0.6);
    display: block;
    padding-bottom: 6rem;
    max-width: 90svw;
}
.skills .list{
    height: 100%;
    width: 100%;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:1.5rem;
    /* background-color: rgba(116, 108, 98, 0.6); */
}
.list-items{
    display: block;
    font-size: 2rem;
    height: 3rem;
    background-color: rgba(116, 108, 98, 0.6);
    border-radius: .3rem;
    padding-left:.5rem ;
}

img{
    font-size: small;
    font-style: italic;
}