
.about{
    background: no-repeat url(./images/bg_img.jpeg) ,linear-gradient(blue,pink);
    background-size: cover;
    height: 100svh;
    padding: .3rem;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;  
    align-content: flex-start;
    justify-content: space-evenly;
}
.me,.description,.welcome{
    display: block;
    background-color: rgba(118, 107, 91, 0.6);
    border-radius: .5rem;
}
.welcome{
    width: 92%;
    max-height: 5rem;
    text-align: center;
}
.about section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    gap:2rem;
}

.me{
    min-width: 48rem;
    aspect-ratio: 1;
}
.me img{
    object-fit: cover;
    display: block;
    text-align: center;
    font-style: italic;
    display: block;
}
.description{
    max-width: 48rem;
    text-align: balance balance;
    font-size: 2rem;
    line-height: 1.4;
    padding: .5em;
    background-color: rgba(116, 108, 98, 0.6);
    display: block;
    padding-bottom: 6rem;
    height: 100%;
}