:root{
    --black-semi-transparent : rgba(58, 58, 58, 0.474);
    --tomato-semi-transparent :rgba(255, 99, 71, 0.568);
    --cyan-semi-transparent : rgba(127, 255, 212, 0.62);
    --metal-blue-semi-transparent :rgba(65, 105, 225, 0.595);
    --page-background : linear-gradient(45deg, #7BE0B4, #E77054);
    --page-background2 : linear-gradient(135deg, #6D38C0, #D07429);
    --page-background3 : radial-gradient(at left bottom, #39AC5B, #2E35FA);
    --page-backface-visibility : hidden;
    --loader-gradient : linear-gradient(rgba(255, 217, 0, 0.404),rgba(0, 0, 255, 0.29)),
                        linear-gradient(45deg,rgba(0, 195, 255, 0.404),rgba(255, 162, 0, 0.29));
}
*{
    box-sizing: border-box;
    margin: 0px;
    /* debug lines!! */
    /* outline: 1px solid red;  */
}

/* 
    Explanation of layers : 
    layer-1 is an rotation layer which has a set rotation value 
    layer-2 is the content container which is at fixed distance from the layer which
    that provides the cube effect and maintains the content scroll on each page!

*/
@property --rotate-x{
    syntax: "<angle>";
    inherits:true;
    initial-value : 0deg;
}
@property --rotate-y{
    syntax: "<angle>";
    inherits:true;
    initial-value : 0deg;
}
@property --rotate-z{
    syntax: "<angle>";
    inherits:true;
    initial-value : 0deg;
}
@property --perspective{
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}
body{
    overflow: hidden;
}
.container{
    --perspective: max(100svh,100svw);
    --rotate-x:0deg;
    --rotate-y:0deg;
    --rotate-z:0deg;
    position:absolute;
    perspective: var(--perspective);
    height: 100svh;
    width: 100svw;
    padding: .3px;
    display: block;
    background: linear-gradient( black , grey);
}
.layer-1{
    position: absolute;   
    height: calc(100% - .3px);
    width: calc(100% - .3px);
    transform-style: preserve-3d;
    backface-visibility:var(--page-backface-visibility);
    transform-origin: center;
    transition: transform 1s ease-in-out;
}
.layer-1:nth-of-type(1){
    transform: 
    translateZ( calc( calc(-1 * var(--perspective)) / 2 ))
    rotateX(var(--rotate-x)) 
    rotateY(var(--rotate-y)) 
    ;
}
.layer-1:nth-of-type(2){
    transform: 
    translateZ( calc( calc(-1 * var(--perspective)) / 2 ))
    rotateX(var(--rotate-x)) 
    rotateY( calc(-90deg + var(--rotate-y)) ) 
    ;
}
.layer-1:nth-of-type(3){
    transform: 
    translateZ( calc( calc(-1 * var(--perspective)) / 2 ))
    rotateX( calc(90deg + var(--rotate-x)) ) 
    /* rotateY(var(--rotate-y)) */
    ;
}
.layer-2{
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    scale: 1;
    overflow-x:hidden;
    overflow-y:auto ;
    backface-visibility: var(--page-backface-visibility);
}

.layer-1:nth-of-type(1) .layer-2{background-color: var(--cyan-semi-transparent);}
.layer-1:nth-of-type(2) .layer-2{background-color: var(--tomato-semi-transparent);}
.layer-1:nth-of-type(3) .layer-2{background-color: var(--metal-blue-semi-transparent);}

.layer-1:nth-of-type(1) .layer-2{transform: translateZ( calc( var(--perspective) / 2 ) );}
.layer-1:nth-of-type(2) .layer-2{transform: translateZ( calc( var(--perspective) / 2 ) );}
.layer-1:nth-of-type(3) .layer-2{transform: translateZ( calc( var(--perspective) / 2 ) );}

nav{
    --nav-len:2rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    height: var(--nav-len);
    aspect-ratio: 1;
    z-index: 13;
}
nav::before,
nav::after{
    content:'';
    height:100%;
    z-index: -1;
    background-color: transparent;
    position: absolute;
    display: grid;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 0 0 var(--black-semi-transparent);
}
nav::after{
    animation : pulse 1s 1s alternate infinite ;
}
nav::before{
    animation : pulse 2s forwards ;
}
nav button{
    outline: none;
    border: none;
    background-color: var(--black-semi-transparent);
    position: absolute;
    inset: 0;
    scale: 0;
    text-align: center;
    pointer-events: none;
    border-radius:50%;
}
nav button img{
    display: block;
    height: 80%;
    aspect-ratio:  1/1;
}
nav,nav button{
    transition: .5s linear transform,1s .4s ease scale;
}
nav button :hover{
    scale: 1.2;
}
#navbar{
    height: var(--nav-len);
    aspect-ratio: 1;
    position: absolute;
    appearance: none;
    display: block;
    outline:none;
    background-color: black;
    border-radius: 50%;
}
nav:has(:checked) { 
    transform: translate(calc(var(--nav-len) * 1),calc( var(--nav-len) * -1));
}
nav :checked~button{
    scale:1;
    pointer-events: initial;
    display: block;
}
nav :checked~[to="home"]{
    transform: translate(0rem, 3rem);
}
nav :checked~[to="aboutme"]{
    transform:translate( -3rem,3rem);
}
nav :checked~[to="contactme"]{
    transform:translate(-3rem ,0rem);
}

@keyframes pulse {
    to{
        box-shadow: 0 0 0 1vh var(--black-semi-transparent);
    }
}

@keyframes load-width {
    from{
        width:0%;
    }
}
@keyframes throbbing {
    0%,100%{
        transform: scale(1.5);
    }
    20%,50%{
        transform: scale(2);
    }
    30%,60%{
        transform: scale(1.3);
    }
}